:root {
  --brown: #ffcd9e;
  --black: #282828;
  --grey: #484848;
  --offgrey: #9f9f9f;
  --darkgrey: #6f7373;
  --white: #ffff;
  --border-radius: 8px;
  --purple: #6f6af7;
}

body * {
  box-sizing: border-box;
  font-family: Inter;
}

body {
  height: 100vh;
  width: 100%;
  margin: 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.gap-s {
  gap: 32px;
}

.gap-xs {
  gap: 16px;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.cursor {
  cursor: pointer;
}

.justify-c {
  justify-content: center;
}

.align-c {
  align-items: center;
}

.flex-c {
  justify-content: center;
  align-items: center;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.navbar {
  height: 127px;
  background-color: var(--purple);
  padding: 0 44px;
  font-family: DM Sans;
  font-size: 36.43px;
  color: var(--white);
}

.navbar__options {
  gap: 47px;
}

.navbar__searchbar {
  border-radius: 63px;
  padding: 0 25px 0 19px;
  border: none;
  font-family: DM Sans;
  font-size: 24.43px;
}

.navbar__searchbar:focus-visible {
  outline: 0;
  border: none;
}

.navbar__searchbar::placeholder {
  color: var(--offgrey);
  font-family: DM Sans;
  font-size: 24.43px;
}

.search_icon {
  right: 19px;
}

.content {
  padding: 212px 162px;
}

.content_body {
  padding-left: 28px;
  gap: 49px;
}

.content__image {
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content__textarea {
  width: 100%;
  border-radius: 20px;
  border: 6px solid var(--white);
  background: #e5d8ff;
  box-shadow: 3px 5px 27px 0px rgba(0, 0, 0, 0.25) inset;
  padding: 29px 34px;
  color: var(--darkgrey);
  font-family: DM Sans;
  font-size: 29px;
  line-height: 178.7%; /* 51.823px */
  text-wrap: wrap;
}

.content__textarea:focus-visible {
  outline: 0;
}
